# =========================
# Visual Studio
# =========================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# Build folders
# =========================
bin/
obj/

# =========================
# Logs
# =========================
*.log

# =========================
# Environment files (IMPORTANT)
# =========================
.env
**/.env
.env.*.local

# =========================
# Node / Frontend (caso uses Expo/React)
# =========================
node_modules/
.expo/
dist/
web-build/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db
